

{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> EAB | Dashboard </title>
<!-- Tell the browser to be responsive to screen width -->

 {% include 'header.html' %} 

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
{% include 'headsidebar.html' %} 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small> v0.1 </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><span id="temp">98</span> <sup style="font-size: 20px"> F</sup></h3>

              <p>Body Temperature</p>
            </div>
            <div class="icon">
              <i class="ion ion-thermometer"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><span id="bpm">53</span> <sup style="font-size: 20px"> BPM</sup></h3>

              <p>Heartbeat</p>
            </div>
            <div class="icon">
              <i class="fa fa-heartbeat"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><span id="dist">44</span> <sup style="font-size: 20px"> cm</sup></h3>

              <p> X - Acceleration </p>
            </div>
            <div class="icon">
              <i class="fa fa-location-arrow"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3><span id="gx">55</span> </h3>

              <p>Y - Accleration</p>
            </div>
            <div class="icon">
              <i class="fa fa-stethoscope "></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Medicine Compartment</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tr>

              <th>Name</th>
                <th>%</th>
                <th style="width: 40px">Left</th>
              </tr>
              <tr>

                <td><span class="label label-danger">FXM-MKII</span></td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                  </div>
                </td>
                <td><span class="badge bg-red">4 Tablets</span></td>
              </tr>
              <tr>

                <td><span class="label label-success">GCF-ACTION</span></td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                  </div>
                </td>
                <td><span class="badge bg-yellow">5 Tablets</span></td>
              </tr>
              <tr>

                <td><span class="label label-info">CROCIN-500</span></td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                  </div>
                </td>
                <td><span class="badge bg-light-blue">1 Tablet</span></td>
              </tr>
              <tr>

                <td><span class="label label-warning">INSULIN-XSS</span></td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                  </div>
                </td>
                <td><span class="badge bg-green">500 ml</span></td>
              </tr>
              <tr>

                <td><span class="label label-primary">TYY-MKII</span></td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 34%"></div>
                  </div>
                </td>
                <td><span class="badge bg-green">400 ml</span></td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <button type="button" class="btn btn-default">Generate Prescription</button>
          </div>
        </div>
        <!-- /.box -->

      </div>

      <div class="col-md-6">
        <div class ="row">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Upcoming</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-medkit"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Medicines</span>
                    <span class="label label-danger">FXM-MKII</span> After Breakfast
                    <span class="label label-success">GCF-ACTION</span> Before Lunch
                    <span class="label label-info">CROCIN-500</span> After Lunch
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="fa fa-user-md"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Appointment</span>
                    <span class="info-box-text">Dr. Naveen Sharma</span>
                    <span class="info-box-number">5.30 PM Today</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Actions</h3>
            </div>
            <div class="box-body">
              <a class="btn btn-app">
                <i class="fa fa-edit"></i> Configure
              </a>
              <a class="btn btn-app">
                <i class="fa fa-user-md"></i> Contact Doctor
              </a>
              <a class="btn btn-app">
                <i class="fa fa-glass"></i> Fetch Water
              </a>
              <a class="btn btn-app">
                <i class="fa fa-medkit"></i> Fetch Medicine
              </a>
              <a class="btn btn-app">
                <i class="fa fa-video-camera"></i> View Camera
              </a>
              <a class="btn btn-app">
                <i class="fa fa-rocket"></i> Control Bot
              </a>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </div>


</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->


</div>
<!-- ./wrapper -->


</body>

 {% include 'js.html' %} 

<script type="text/javascript">
 $(".sparkline").each(function () {
  var $this = $(this);
  $this.sparkline('html', $this.data());
});

</script>

<script>
  
setInterval(function updater(){
    $.get("http://localhost:8000/vitalsigns/update", function(data, status){
      $("#temp").html(data.temp);
      $("#dist").html(data.gx);
      $("#bpm").html(data.bpm);
      $("#gx").html(data.gy);
    });
},2000);
</script>
</html>
