{% load static %}  
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> EAB | Profile </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  {% include 'header.html' %} 

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
 <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  {% include 'headsidebar.html' %} 

  <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Medicine Compartment Contents
        <small>Currently Available</small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home<</li>
        <li class="active">Medicine</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-solid">
            <div class="box-header">
              <i class="fa fa-bar-chart-o"></i>
              <h3 class="box-title">Current Stock on Robot</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="1" data-skin="tron" data-thickness="0.1" data-min="0" data-max="10" data-width="90" data-height="90" data-fgColor="#DC143C">
                  <div class="knob-label"><span class="label label-danger">FXM-MKII</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft1"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" style="padding:0px 12px;" id="editButton">Edit</button></h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00BFFF">

                  <div class="knob-label"><span class="label label-success">GCF-ACTION</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft2"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" style="padding:0px 12px;" id="editButton">Edit</button></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#30c65a">

                  <div class="knob-label"><span class="label label-info">CROCIN-500</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft3"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" style="padding:0px 12px;" id="editButton">Edit</button></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#DDA0DD" data-readonly="false">

                  <div class="knob-label"><span class="label label-warning">INSULIN-XSS</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft4"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" style="padding:0px 12px;" id="editButton">Edit</button></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#53b6ga">

                  <div class="knob-label"><span class="label label-primary">TYY-MKII</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft5"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" style="padding:0px 12px;" id="editButton">Edit</button></h3>
                      <div class="box-tools pull-left">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                      </div>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-xs-6 col-md-2 text-center">
                  <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#6046aa">

                  <div class="knob-label"><span class="label label-primary">TfY-MKII</span></div>
                  <div class="knob-label"><i class="fa fa-clock-o"></i><h3><div id="timeleft6"></div></h3></div>
                  <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                      <h3 class="box-title"><button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#myModal" style="padding:0px 12px;" id="editButton">Edit</button></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      Amoxocollin 500mg/Capsule<br>
                      Directions : 500mg/quid x 5 days
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->  
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      {% include 'modals.html' %} 

    </section>
    <!-- /.content -->
  </div>





<!-- REQUIRED JS SCRIPTS -->
 {% include 'js.html' %} 
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->



</body>
<script type="text/javascript">
upComingTime = []
{%for item in upcomingTime %}
upComingTime.push([{{ item.hour }},{{ item.minute }}])
{%endfor%}
console.log(upComingTime);

$('#timeleft1').countdown('2017/4/26 '+upComingTime[0][0]+':'+upComingTime[0][1]+':00', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 1");
  }); 
$('#timeleft2').countdown('2017/4/26 '+upComingTime[1][0]+':'+upComingTime[1][1]+':26', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 2");
  });
$('#timeleft3').countdown('2017/4/26 '+upComingTime[2][0]+':'+upComingTime[2][1]+':26', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 3");
  });
$('#timeleft4').countdown('2017/4/26 '+upComingTime[3][0]+':'+upComingTime[3][1]+':26', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 4");
  });
$('#timeleft5').countdown('2017/4/26 '+upComingTime[4][0]+':'+upComingTime[4][1]+':26', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 5");
  });
$('#timeleft6').countdown('2017/4/26 '+upComingTime[5][0]+':'+upComingTime[5][1]+':26', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
  }).on('finish.countdown', function() {
    console.log("Sending Compartment 6");
  });

    $(function () {
    /* jQueryKnob */

    $(".knob").knob({
      /*change : function (value) {
       //console.log("change : " + value);
       },
       release : function (value) {
       console.log("release : " + value);
       },
       cancel : function () {
       console.log("cancel : " + this.value);
       },*/
      draw: function () {

        // "tron" case
        if (this.$.data('skin') == 'tron') {

          var a = this.angle(this.cv)  // Angle
              , sa = this.startAngle          // Previous start angle
              , sat = this.startAngle         // Start angle
              , ea                            // Previous end angle
              , eat = sat + a                 // End angle
              , r = true;

          this.g.lineWidth = this.lineWidth;

          this.o.cursor
          && (sat = eat - 0.3)
          && (eat = eat + 0.3);

          if (this.o.displayPrevious) {
            ea = this.startAngle + this.angle(this.value);
            this.o.cursor
            && (sa = ea - 0.3)
            && (ea = ea + 0.3);
            this.g.beginPath();
            this.g.strokeStyle = this.previousColor;
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
            this.g.stroke();
          }

          this.g.beginPath();
          this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
          this.g.stroke();

          this.g.lineWidth = 2;
          this.g.beginPath();
          this.g.strokeStyle = this.o.fgColor;
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
          this.g.stroke();

          return false;
        }
      }
    });
    /* END JQUERY KNOB */
    
  });
</script>
</html>