{% load static %}  
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> EAB | Prescriptions </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
 {% include 'header.html' %} 

</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    {% include 'headsidebar.html' %} 
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Prescriptions
          <small> v0.1 </small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Prescriptions</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

<div class="row">
  <div class="col-md-4">
    <div class="box box-info" cpt-number="1">
      <div class="box-header with-border">
        <h3 class="box-title" style="display: block; text-align: center;">
         Compartment Details
        </h3>
      </div>
      <!-- /.box-header -->
      <form class="form-horizontal" method="POST" target="_blank" action="{% url 'index' %}updateprescription/" id="myForm">
        <div class="box-body">
          <div class="form-group" style="margin-left: 0px;margin-right: 0px">
               <select class="form-control select2" name="cpt-number" id="selection">
                 <option value="1">Compartment 1</option>
                 <option value="2">Compartment 2</option>
                 <option value="3">Compartment 3</option>
                 <option value="4">Compartment 4</option>
                 <option value="5">Compartment 5</option>
                 <option value="6">Compartment 6</option>
               </select>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input class="form-control" id="inputEmail3" placeholder="Medicine Name" name="medicineName" value="default">
              </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Color</label>
              <div class="col-sm-10">
                {% csrf_token %}
                <input type="text" class="form-control my-colorpicker1" name="medicineColor" value="default">
              </div>
          </div>
          <div class="templateholder"></div>
        </div>  
        <div class="box-footer">
          <button class="btn btn-default Add" type="button">Add Time</button>
          <button type="button" class="btn btn-info pull-right" id="update">Update</button>
        </div>
              <!-- /.box-footer -->
      </form>
    </div>
  </div>
</div>
<div class="row" id="success" style="display:none">
  <div class="col-md-4">
    <div class="alert alert-success sfade in">
      <h4 style="margin-bottom:0px"><i class="icon fa fa-check"></i> Successfully Updated</h4>
    </div>
  </div>
</div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 2.2.0 -->
  {% include 'js.html' %} 

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
<div id="template" style="display: none;">
  <div class="bootstrap-timepicker template">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Time</label>
        <div class="col-sm-10">
          <input type="text" class="form-control timepicker" id="Type" name="time">    
        </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">

function formatForPicker(givenTime){
  var isAM = true;
  var meridien = "AM"
  hours = givenTime[0];
  minutes = givenTime[1];
  if(hours > 12){
    hours = hours - 12;
    isAM = false;
  }
  if(isAM){
    meridien = "AM";
  }
  else{
    meridien = "PM";
  }
  var temp = hours + ":" + minutes + " " + meridien;
  return temp;
}

var medicineName;
var medicineColor;
var timeArray;
var timePickerArray;
var count = 1;

$(".my-colorpicker1").colorpicker();

$(document).ready(function() {
 $("option[value='{{ cpt_details.cptNumber }}']").attr("selected","selected");
 medicineName = "{{ cpt_details.name }}";
 medicineColor = "{{ cpt_details.color }}";
 //timePickerArray = {{ cpt_details.pickerTime }}
 timeArray = {{ cpt_details.time }};
 for(var i = 0; i < timeArray.length ; i++){
  addTimeBlock($(".Add").parentsUntil(".col-md-4"),timeArray[i]);
 }
});

function addTimeBlock(parentOfTimeBlock,initTime = [12,45]) {
  var temp = $("#template div.template").clone();
  var nameTimeLabel = "time" + count
  temp.find("#Type").attr("name", nameTimeLabel);
  count = count + 1;
  parentOfTimeBlock.find(".templateholder").append(temp).slideDown();
  temp.find(".timepicker").timepicker({
    showInputs: false,
    defaultTime : formatForPicker(initTime)
  });
}

$(".Add").click(function() {
        addTimeBlock($(this).parentsUntil(".col-md-4"));
    });


$("#update").click(function() {
  $("#success").css("display","none");
  var formData = $("#myForm").serializeArray();
  $(document).ajaxStart(function() { Pace.restart(); });
  $.ajax({
  type: "POST",
  url: "{% url 'index' %}updateprescription/",
  data: formData,
  success: function(){
    $("#success").css("display","block");
    }
  });
});

$("#selection").on("change",function(){
  window.open("{% url 'index' %}" + $(this).val() + "/prescriptions/","_self")
});
</script>
</html>