{% load static %}  
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> EAB | Profile </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  {% include 'header.html' %} 

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  {% include 'headsidebar.html' %} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profile
        <small> v0.1 </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

     <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{% static 'vitalsigns/dist/img/user2-160x160.jpg' %}" alt="User profile picture">

              <h3 class="profile-username text-center">Rajeev Ravindran</h3>

              <p class="text-muted text-center">Patient ID #2342FHD23</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Age</b> <a class="pull-right">67</a>
                </li>
                <li class="list-group-item">
                  <b>Gender</b> <a class="pull-right">Male</a>
                </li>
                <li class="list-group-item">
                  <b>Doctor Name </b> <a class="pull-right">Dr. Navin Sharma</a>
                </li>
                <li class="list-group-item">
                  <b> Hospital </b> <a class="pull-right">Breach Candy</a>
                </li>
                <li class="list-group-item">
                  <b>Contact</b> <a href="tel:7738994939" class="pull-right">+917738994939</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">razorrajeev@gmail.com</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Contact Doctor</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
     
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
               <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Medical History</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Medical Summary </strong>

              <p class="text-muted">
                Congenital adrenal hyperplasia. 
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">Malad, Mumbai</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Medicines</strong>

              <p>
                <span class="label label-danger">FXM-MKII</span>
                <span class="label label-success">GCF-ACTION</span>
                <span class="label label-info">CROCIN-500</span>
                <span class="label label-warning">INSULIN-XSS</span>
                <span class="label label-primary">TYY-MKII</span>
                <span class="label label-primary">TfY-MKII</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Medicine Administration </strong>

              <ul>
                <li><span class="label label-danger">FXM-MKII</span> Before breakfast
                <li><span class="label label-success">GCF-ACTION</span> Immediately after breakfast
                <li><span class="label label-info">CROCIN-500</span> Before lunch
                <li><span class="label label-warning">INSULIN-XSS</span> After lunch
                <li><span class="label label-primary">TYY-MKII</span> After dinner
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->

  
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
 {% include 'js.html' %} 
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
<script type="text/javascript">
   $(".sparkline").each(function () {
      var $this = $(this);
      $this.sparkline('html', $this.data());
    });
</script>
</html>