<!-- /.row -->
      <div class="row">
       <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header">
            <h3 class="box-title text-blue"> MLX90614 Temperature Sensor</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body text-center">
            <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="#f39c12" data-highlight-Line-Color="#222" data-min-Spot-Color="#f56954" data-max-Spot-Color="#00a65a" data-spot-Color="#39CCCC" data-offset="90" data-width="100%" data-height="100px" data-line-Width="2" data-line-Color="#39CCCC" data-fill-Color="rgba(57, 204, 204, 0.08)">
              64,68,65,96,68,100,82,75,69,70,81,68,71,97,86,100,85,85,100,94,64,89,67,81,64,71,96,81,75,69,68,99,75,87,88,98,98,76,77,86,70,69,81,75,86,68,65,66,76,86,93,89,77,92,64,82,80,94,67,78
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header">
            <h3 class="box-title text-blue"> Pulse Hearbeat Sensor</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body text-center">
            <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="#f39c12" data-highlight-Line-Color="#222" data-min-Spot-Color="#f56954" data-max-Spot-Color="#00a65a" data-spot-Color="#39CCCC" data-offset="90" data-width="100%" data-height="100px" data-line-Width="2" data-line-Color="#39CCCC" data-fill-Color="rgba(57, 204, 204, 0.08)">
              64,80,75,67,86,91,64,78,73,68,78,71,87,100,80,77,93,71,66,67,68,78,64,98,78,90,86,87,74,77,100,74,64,78,98,83,82,100,71,66,99,100,93,71,65,97,66,93,96,67,77,87,68,72,91,80,97,70,73,82
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header">
            <h3 class="box-title text-blue"> Cricket Navigation </h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body text-center">
            <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="#f39c12" data-highlight-Line-Color="#222" data-min-Spot-Color="#f56954" data-max-Spot-Color="#00a65a" data-spot-Color="#39CCCC" data-offset="90" data-width="100%" data-height="100px" data-line-Width="2" data-line-Color="#39CCCC" data-fill-Color="rgba(57, 204, 204, 0.08)">
              64,64,90,67,77,96,87,92,68,68,90,96,74,99,93,82,65,89,94,89,100,82,78,71,87,77,100,86,81,66,85,72,71,88,65,95,99,97,85,74,89,87,75,83,92,71,96,77,80,93,90,76,71,93,73,99,73,71,99,68
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header">
            <h3 class="box-title text-blue"> X-Accleration</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body text-center">
            <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="#f39c12" data-highlight-Line-Color="#222" data-min-Spot-Color="#f56954" data-max-Spot-Color="#00a65a" data-spot-Color="#39CCCC" data-offset="90" data-width="100%" data-height="100px" data-line-Width="2" data-line-Color="#39CCCC" data-fill-Color="rgba(57, 204, 204, 0.08)">
              80,80,81,82,75,99,2,99,93,75,82,81,82,83,81,82,83,81,79,81,82,83,82,81,82,83,81,82,83,81,82,82,81,83,81,82,83,81,81,81,82,81,82,83,81,83,82,81,82,81,82,83,81,82,83,81,82,83,81
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
