{% load staticfiles %}	
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{% static 'vitalsigns/bootstrap/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'vitalsigns/dist/css/AdminLTE.min.css' %}">

<link rel="stylesheet" href="{% static 'vitalsigns/dist/css/skins/skin-blue.min.css' %}">

<link rel="stylesheet" href="{% static 'vitalsigns/plugins/colorpicker/bootstrap-colorpicker.min.css' %}">
  <!-- Bootstrap time Picker -->
<link rel="stylesheet" href="{% static 'vitalsigns/plugins/timepicker/bootstrap-timepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'vitalsigns/plugins/pace/pace.min.css' %}">
