{% load static %}  
<header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>E</b>AB</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Elderly</b>AssiterBot</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">1</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 1 message</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="{% static 'vitalsigns/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Dr. Navin Sharma
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p> Your appointment with me is fixed for <br> tomorrow 5 PM</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">1</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 1 notification</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> New firmware update! 
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{% static 'vitalsigns/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Rajeev Ravindran</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{% static 'vitalsigns/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">

                <p>
                  Rajeev Ravindran
                  <small>Patient ID #34F2353 </small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <a href="hardware.html"> Tri Wheel Chassis Model B+ </a>
                  </div>
                  <div class="col-xs-12 text-center">
                    <a href="hardware.html"> EF:2F:6F:7D:4A:34 </a>
                  </div>
                  
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="sign-out" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
         
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'vitalsigns/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p> Rajeev Ravindran </p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Sensors </a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li{% if request.path == '/vitalsigns/' %} class="active"{% endif %}><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li{% if request.path == '/vitalsigns/profile/' %} class="active"{% endif %}><a href="{% url 'profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li class="treeview {% if request.path == '/vitalsigns/medicine/' or request.path == '/vitalsigns/1/prescriptions/' or request.path == '/vitalsigns/2/prescriptions/' or request.path == '/vitalsigns/3/prescriptions/' or request.path == '/vitalsigns/4/prescriptions/' or request.path == '/vitalsigns/5/prescriptions/' or request.path == '/vitalsigns/6/prescriptions/'%}active{% endif %}">  
          <a href="#">
            <i class="fa fa-medkit"></i>
            <span>Medicine</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li{% if request.path == '/vitalsigns/1/prescriptions/' or request.path == '/vitalsigns/2/prescriptions/' or request.path == '/vitalsigns/3/prescriptions/' or request.path == '/vitalsigns/4/prescriptions/' or request.path == '/vitalsigns/5/prescriptions/' or request.path == '/vitalsigns/6/prescriptions/'%} class="active"{% endif %}><a href="{% url 'prescriptions' 1 %}"><i class="fa fa-user-md"></i> <span>Prescriptions</span></a></li>
            <li{% if request.path == '/vitalsigns/medicine/' %} class="active"{% endif %}><a href="{% url 'medicine' %}"><i class="fa fa-plus-square"></i> <span>Live Contents</span></a></li>
          </ul>
        </li>
        <li{% if request.path == '/vitalsigns/timeline/' %} class="active"{% endif %}><a href="{{ request.path }}"><i class="fa fa-calendar"></i><span>Timeline</span></a></li>
        <li{% if request.path == '/vitalsigns/config/' %} class="active"{% endif %}><a href="{{ request.path }}"><i class="fa fa-wrench"></i> <span>Configuration</span></a></li>
        <li{% if request.path == '/vitalsigns/stream/' %} class="active"{% endif %}><a href="{% url 'stream' %}"><i class="fa fa-gear"></i> <span>Live Stream</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  