<!-- REQUIRED JS SCRIPTS -->
{% load static %}
<!-- jQuery 2.2.0 -->
<script src="{% static 'vitalsigns/plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'vitalsigns/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<!-- jQuery Knob -->
<script src="{% static 'vitalsigns/dist/js/app.min.js' %}"></script>
<script src="{% static 'vitalsigns/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'vitalsigns/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'vitalsigns/plugins/knob/jquery.knob.js' %}"></script>
<script src="{% static 'vitalsigns/plugins/jquery.countdown/jquery.countdown.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'vitalsigns/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
<!-- bootstrap time picker -->
<script src="{% static 'vitalsigns/plugins/timepicker/bootstrap-timepicker.js' %}"></script>